<div class="page-header">
<h1>Панель управления</h1>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><%= link_to t('stations'), admin_railway_stations_path %></li>
    <li><%= link_to t('trains'), admin_trains_path %></li>
    <li><%= link_to t('routes'), admin_routes_path %></li>
    <li><%= link_to t('tickets'), admin_tickets_path %></li>
  </ul>
</div>