<h1>Панель управления</h1>


<%= link_to 'Список станций', admin_railway_stations_path %>
<br>
<%= link_to 'Список поездов', admin_trains_path %>
<br>
<%= link_to 'Список маршрутов', admin_routes_path %>
<br>
<%= link_to 'Список билетов', admin_tickets_path %>
