<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to t('.show'), [:admin, railway_station] %></td>
  <td><%= link_to t('.edit'), edit_admin_railway_station_path(railway_station) %></td>
  <td><%= link_to t('.delete'), [:admin, railway_station], method: :delete, data: { confirm: t('.confirm') } %></td>
</tr>