<tr>
  <td><%= route.name %></td>
  <td><%= link_to 'Показать', [:admin, route] %></td>
  <td><%= link_to 'Редактировать', edit_admin_route_path(route) %></td>
  <td><%= link_to 'Удалить', [:admin, route], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>