<tr>
  <td><%= route.name %></td>
  <td><%= link_to 'Показать', route %></td>
  <td><%= link_to 'Редактировать', edit_route_path(route) %></td>
  <td><%= link_to 'Удалить', route, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>