<p id="notice"><%= notice %></p>

<h1>Список поездов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый поезд', new_train_path %>


<br>
<%= link_to 'Назад', 'welcome/index' %>
