<tr>
  <td><%= sedentary_carriage.number %></td>
  <td><%= link_to 'Показать', carriage_path(sedentary_carriage.type, sedentary_carriage) %></td>
  <td><%= link_to 'Редактировать', edit_carriage_path(sedentary_carriage.type, sedentary_carriage, :edit) %></td>
  <td><%= link_to 'Удалить', carriage_path(sedentary_carriage.type, sedentary_carriage),
                  method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>

