<h1>Главная страница</h1>
<%= link_to 'Список станций', railway_stations_path %>
<br>
<%= link_to 'Список поездов', trains_path %>
<br>
<%= link_to 'Список маршрутов', routes_path %>
<br>
<%= link_to 'Список вагонов', carriages_path %>