<h1>Главная страница</h1>

<div>
  <p><%= link_to 'Поиск билетов', search_path %></p>
</div>

<%= link_to 'Список станций', railway_stations_path %>
<br>
<%= link_to 'Список поездов', trains_path %>
<br>
<%= link_to 'Список маршрутов', routes_path %>
