<tr>
  <td><%= carriage.number %></td>
  <td><%= link_to 'Показать', carriage %></td>
  <td><%= link_to 'Редактировать', edit_carriage_path(carriage) %></td>
  <td><%= link_to 'Удалить', carriage, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>