<tr>
  <td><%= economy_carriage.number %></td>
  <td><%= link_to 'Показать', sti_carriage_path(economy_carriage.type, economy_carriage) %></td>
  <td><%= link_to 'Редактировать', sti_carriage_path(economy_carriage.type, economy_carriage, :edit) %></td>
  <td><%= link_to 'Удалить', sti_carriage_path(economy_carriage.type, economy_carriage),
                  method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>

