<footer>
  <div class="container">
    <p class="copyright">
      © 2016 Персионов Кирилл. Учебный проект в онлайн-школе
      <%= link_to 'Thinknetica', 'http://thinknetica.com', :target => '_blank' %>.
    </p>
  </div>
</footer>