<% if user_signed_in? %>
    <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
    <p>Account: <%= current_user.email %> </p>
    <% if current_user.admin? %>
        <li><%= link_to "Админка", admin_railway_stations_path %></li>
    <% end %>
<% else %>
    <li><%= link_to "Войти", new_user_session_path  %></li>
<% end %>